<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>526D4C671B88D2120093B21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526D4C7B1B88D2130093B21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526D4C861B88D2130093B21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
